@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://virgool.io/@farshid.azizi"> Transient, Singleton & Scoped بررسی طول عمر سرویس</a>.</p>
</div>
<h3>Transient Service</h3>
@ViewBag.message1
<br>
@ViewBag.message2
<hr />

<h3>Scoped Service</h3>
@ViewBag.message3
<br>
@ViewBag.message4
<hr />

<h3>Singleton Service</h3>
@ViewBag.message5
<br>
@ViewBag.message6
